# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log

# Билд-файлы
dist/
build/
.out/
.next/  # для Next.js

# Конфиги окружения
.env
.env.local
.env.development
.env.production
.env.test

# Кэш и логи
.DS_Store
.vscode/
.idea/
*.log
coverage/

# Git
.git/
.gitignore

# Netlify
.netlify/

# ESLint и Prettier
.eslintcache
.prettier/
.prettierignore